$base-color: #333333;
$color-white: #FFFFFF;
$button-primary: #DB324D;
$bagisto-brand-color: #0041FF;
$active_li: #FFF0F3;

$font-color: #242424;
$hold-color: #6d6d6d;

$nav-top: #511C29;
$border-color: #E0E0E0;
$field-border-color: #979797;
$nav-font-color: #666666;
$nav-reload-color: #FFB4C0;
$nav-wifi-color: #8BC34A;

$alert-danger-border: #ebccd1;
$alert-danger-gb: #f2dede;
$alert-danger-color: #a94442;

$cart-total-bg: #F3F3F3;
$cart-calculator-bg: #FFB4C0;
$cart-calculator-border: #FFB4C0;


$progress-bg-color: #F5F5F5;
$progress-bar: #467CFF;
$bar-success: #38A745;
$bar-warning: #F5C109;
$bar-danger: #DC3545;
$message-border: #CCC;
$four-digit-border: #e65555;
$four-digit-bg: #f8e3e3;


